@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <p style="color:Red; font-weight:bold">Sorry,the user name you specify does not exist!</p>
</body>
</html>