@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <p style="color:Red; font-weight:bold">Sorry, The password does not match the given user name!</p>
</body>
</html>